.clickableHeader {
    cursor: pointer;
    user-select: none;
    padding-bottom: 15px;
    padding-top: 25px;
}

.headerContent {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    transition: 0.1s color;
}

.headerContent:hover {
    color: #007aff
}

.headerContent:active  {
    color: #0051A8
}

.headerIconActive  {
    width: 11px;
    height: 11px;

}

.headerIconDefault {
    width: 14px;
    height: 14px;
}