.container {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 1.6rem;
    background-color: var(--color-background-main);
}

.content {
    min-height: 3rem;
    padding-left: 12px;
    padding-right:  12px;
}
